@font-face {
	src: url('fonts/segoeui.ttf');
	font-family: "regular";
}

@font-face {
	src: url('fonts/segoeuisl.ttf');
	font-family: "semilight";
}

@font-face {
	src: url('fonts/SCRIPTBL.TTF');
	font-family: "scriptf";
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    }
    li{
        float: left;
       
    }
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    li a:hover {
        background-color: #111;
    }
    li a.aktiv{
        background-color: rgb(63, 128, 182)
    }
    header {
        background-image: url('barselona.jpg');
        height: 100vh;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }
    #title h1 {
        color: white;
        font-family: "scriptf";
        font-size: 80px;
        text-shadow: -10px 10px 10px rgba(0,0,0,0.3);
        margin: 0px;
    }
    
    #title h2 {
        color: white;
        font-family: "scriptf";
        font-size: 30px;
        text-shadow: -5px 5px 5px rgba(0,0,0,0.3);
        margin: -10px 0px 50px 0px;
    }
    
    #attractions {
        background-image: url('ocean.jpg');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }
    #attractions h2 {
        font-family: "semilight";
        text-align: center;
        margin: 0px;
        font-weight: 100;
        color: white;
        font-size: 40px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
.omotac1 {
	max-width: 960px;
	margin: auto;
	padding-bottom: 50px;
}

.omotac2 {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}